-
    var stations = [
        {
            id: "quran",
            name: "القرآن الكريم",
            url: "https://edge.mixlr.com/channel/rwumx"
        },
        {
            id: "",
            name: "",
            url: ""
        },
        {
            id: "",
            name: "",
            url: ""
        },
        {
            id: "",
            name: "",
            url: ""
        },
        {
            id: "",
            name: "",
            url: ""
        },
        {
            id: "",
            name: "",
            url: ""
        },
        {
            id: "",
            name: "",
            url: ""
        },
        {
            id: "",
            name: "",
            url: ""
        },
        {
            id: "",
            name: "",
            url: ""
        },
        {
            id: "",
            name: "",
            url: ""
        },
        {
            id: "",
            name: "",
            url: ""
        },
        {
            id: "",
            name: "",
            url: ""
        }
    ]