footer
    .container
        a(
            href="http://creativecommons.org/licenses/by-nc-sa/4.0"
            title="هذا المُصنَّف مرخص بموجب رخصة المشاع الإبداعي نَسب المُصنَّف - غير تجاري - الترخيص بالمثل 4.0 دولي"
            rel="license"
            target="_blank"
        ) بعض الحقوق محفوظة
            span
                include /images/cc/cc.svg
                include /images/cc/by.svg
                include /images/cc/nc.svg
                include /images/cc/sa.svg